torch==2.1.2
numpy==1.26.4
scipy==1.11.4
pandas==2.1.4
pydantic==2.6.1
PyYAML==6.0.1
ase==3.22.1
pymatgen==2024.2.20
mace-torch==0.3.4
xgboost==2.0.3
scikit-learn==1.4.0
numpyro==0.13.2
jax==0.4.23
jaxlib==0.4.23
optuna==3.5.0
networkx==3.2.1
transformers==4.37.2
datasets==2.16.1
requests==2.31.0
tqdm==4.66.2

